body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
}

/* .form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    width: 300px;
    padding: 70px 40px;
    border-radius: 10px;
    border: 1px solid rgb(19, 92, 226);
} */

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

form label {
    font-size: 1.3vw;
    font-family: sans-serif;
    font-weight: 400;
}

form input {
    /* width: 100%; */
    font-family: sans-serif;
    border-radius: 6px;
    padding: 8px;
    border: 1px solid rgb(19, 92, 226);
}

form button:hover {
    background-color: white;
    border: 1px solid rgb(19, 92, 226);
    color: rgb(19, 92, 226);
}

form button {
    background-color: rgb(19, 92, 226);
    border-radius: 6px;
    border: none;
    padding: 8px 0px;
    color: white;
    cursor: pointer;
}

form p {
    font-family: sans-serif;
}
